@charset "UTF-8";

body {
	margin: 0;
	padding: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #FFF;
	background-color: #000;
}

p {
	letter-spacing: 0.1em;
	color: #F8F7F5;
	padding: 0 40px;
}
li {
	letter-spacing: 0.1em;
	padding: 0 6px;
}

h2 {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 5px 150px;
	line-height: .9em;
	font-variant: small-caps;
	letter-spacing: 0.1em;
}

h3 {
	font-size: 32px;
	color: #fff;
	padding: 5px 0px;
	line-height: .9em;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	border-bottom-style: double;
}

a:link {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

img {
	border: inset #fff 1px;
}

table, th, td {
  /*border-bottom: 1px solid #ddd;*/
  text-align: left;
  padding: 1px 0;
}
th {
	font-size: 25px;
	font-variant: small-caps;
	padding-bottom: 15px;
	padding-top: 0;
}

#container {
	width: 1200px;
	margin: 0 auto;
	background-color: #707070;
	overflow: hidden;
}

#header {
	/*width: 100%;*/
	background-color: #f0f0f0;
	border-bottom: 1px solid #fff;
	/*padding-bottom: 0;*/
}

#content {
	/*width: 500px;*/
	float: left;
	padding: 75px 250px 150px 250px;
	/*padding-bottom: 1000px;
	padding-left: 160px; */
}

#table a {
	color: #fff;
	text-decoration: none;
	/*font-style: normal;
	font-variant: small-caps;
	font-size: 16px;
	padding-right: 50px;*/
}

#table a:hover {
	color: #2e2e2e;
	text-decoration: none;
	font-style: normal;
}

#sidebar {
	width: 50px;
	float: left;
	margin-top: 0px;
}
#sidebar p{
	padding: 100px 120px 20px 0px;
}

#footer {
	width: 100%;
	background-color: #f0f0f0;
	border-top: 1px solid #fff;
	padding: 20px 0 20px 0;
	clear: both;
}

#footer p{
	margin: 0;
}
