@charset "UTF-8";

body {
	margin: 0;
	padding: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #FFF;
	background-color: #000;
}

p {
	letter-spacing: 0.1em;
	color: #F8F7F5;
	padding: 0 40px;
}
li {
	letter-spacing: 0.1em;
	padding: 0 6px;
}

h2 {
	font-size: 24px;
	color: #fff;
	padding: 40px 40px;
	line-height: .9em;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	font-style: italic;
}

a:link {
	font-weight: bold;
	color: #FAD956;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #FAD956;
	text-decoration: none;
}
a:hover {
	color: #A8923A;
	text-decoration: underline;
}

img {
	border: dotted #FAD956 1px;
}

#container {
	width: 100%;
	margin: 0 auto;
	background-color: #707070;
	overflow: hidden;
}

#header {
	width: 100%;
	background-color: #f0f0f0;
	border-bottom: 1px solid #fff;
	padding-bottom: 0;
}

#content {
	width: 650px;
	float: left;
	padding-bottom: 30px;
}

#sidebar {
	width: 200px;
	float: left;
	margin-top: 0px;
	margin-left: 50px;
}
#sidebar p{
	padding: 20px;
}

#footer {
	width: 100%;
	background-color: #f0f0f0;
	border-top: 1px solid #fff;
	padding: 20px 0 20px 0;
	clear: both;
}

#footer p{
	margin: 0;
}
